.App {
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.App-header {
  text-align: center;
  width: 100%;
  max-width: 800px;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-container .search-icon {
  position: absolute;
  left: 10px;
}

.search-input {
  flex: 1; /* Take remaining space */
  padding: 20px;
  border: none; /* Remove border */
  border-radius: 50px 0 0 50px;
  outline: none;
  font-size: 14px;
  margin-left: 1.5rem;
  font-weight: 600;
  color: #0a6cb3;
}

.search-button {
  padding: 20px 30px;
  border: none; /* Remove border */
  border-radius: 0 50px 50px 0;
  color: #0a6cb3;
  font-size: 14px;
  font-weight: 600;
  background-color: white;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

/* Hover effect */
.search-button:hover {
  background-color: #0a6cb3;
  color: white;
}


.caption {
  font-size: 18px;
  color: #777;
  font-style: italic;
}

.results {
  margin-top: 20px;
  width: 100%;
}

.card {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form-buttons {
  display: flex;
  flex-direction: column;
}

.form-button {
  margin: 5px 0;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  cursor: pointer;
  outline: none;
}

.form-button:hover {
  background-color: #e0e0e0;
}

.salt-info {
  flex-grow: 1;
  padding-left: 20px;
  text-align: left;
}

.salt-info h2 {
  font-size: 18px;
  margin: 0;
}

.salt-info p {
  font-size: 16px;
  color: #555;
}

.price-info {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
}

.price-info p {
  margin: 0;
}
